body {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=100022), auto;
    background-color: black;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}

a:hover {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=100022), auto;
}

.title_page {
    text-align: center;
}

body section {
    border: solid 2px grey;
    padding: 5%;
    margin: 5% 15%;
    
}
#young_voldy {
    width: 25%;
    border: grey 1px solid;
}
#iAmVoldy {
    border: grey 1px solid;
    width: 60%;
}
#blason {
    width: 35%;
    border: black;
}
#secret_door {
    width: 30%;
    border: grey 1px solid;
}

.title_page h1 {
    color: white;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    margin-bottom: 5%;    
}

.commentaire_perso {
    font-family: 'Mansalva', cursive;
}

.uk-accordion-title {
    color: white;
    border-bottom: white 1px solid;
    
}

.uk-accordion-content {
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.uk-accordion-content p {
    padding: 10%;
}

.uk-accordion-content img {

}

 /* ICON POUR REMONTER EN HAUT */

#choixpeau {
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: white;
}

#choixpeau p {
    color: white;
}

#choixpeau a:hover {
    text-decoration: none;
    color: grey;
}

#choixpeau img {
    width:10vh;
    filter: invert(100%);
}

 /* FO0TER */

footer {
    text-align: center;
    text-transform: uppercase;
    padding: 2px;
    display: inline;

}
footer img {
    width: 2vw;
    margin: 3px;
}