body {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=100022), auto;
    background-color: black;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}

a:hover {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=100022), auto;
}

body section {
    border: solid 2px grey;
    padding: 5%;
    margin: 5% 15%;
    
}

 /*Images*/
#young_voldy {
    width: 35%;
    border: grey 1px solid;
}

#iAmVoldy {
    width: 50%;
}

#blason {
    width: 35%;
    border: black;
}

#secret_door {
    width: 30%;
    border: grey 1px solid;
    margin: 0 2% 0 0;
}

#lucius {
    width: 30%;
    border: grey 1px solid;
}

#horcruxe {
    border: grey 1px solid;
}

/* ------------ */

.title_page h1 {
    color: white;
    text-align: center;
    font-family: 'Satisfy', cursive;
    margin-bottom: 5%;    
}
.title_page {
    text-align: center;
}

.commentaire_perso {
    font-family: 'Mansalva', cursive;
    font-size: large;
}
.commentaire_perso img {
    border-radius: 5%;
}

/*Accordion*/

.uk-accordion-title {
    color: white;
    border-bottom: white 1px solid;
    
}

.uk-accordion-content {
    text-align: justify;
    display: flex;
    flex-direction: row;
}

.uk-accordion-content p {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* ----------------------------*/

 /* ICON POUR REMONTER EN HAUT */

#choixpeau {
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: white;
}

#choixpeau p {
    color: white;
    margin: 1%
}

#choixpeau a:hover {
    text-decoration: none;
    color: grey;
}

#choixpeau img {
    width:10vh;
    filter: invert(100%);
}

 /* FO0TER */

footer {
    text-align: center;
    text-transform: uppercase;
    padding: 2px;
    display: inline;

}
footer img {
    width: 2vw;
    margin: 3px;
}

@media screen and (max-width: 1000px){
    body section ul li div img {
        display: none;
    }
    body section {
        border: solid 1px grey;
        padding: 2%;
        margin: 3% 3%;
        
    }
    .commentaire_perso img {
        border-radius: 5%;
        width: 60%;
    }
    .commentaire_perso p {
        font-family: 'Mansalva', cursive;
        font-size: large;
        margin: 5%;
    }
    footer p {
        margin: 5%;
    
    }

    footer img {
        width: 12%;
        margin: 3px;
    }
}