body {
    background-color: black;
    color: white;
    cursor: url(img/slytherin1.cur), auto;
    font-family: 'Barlow Condensed', sans-serif;

}
a:hover {
    cursor: url(img/slytherin1.cur), auto;
}

header {
    margin-bottom: 10vh;
}


#test-target {
    height: 85vh;
    margin-bottom: 5vh;
}

#test-target h1 {
    font-size: 35px;
    font-family: 'Rock Salt', cursive;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
}

.para {
    text-align: center;
}

.uk-card {
    text-align: center;
    border-right: 1px solid grey;
    padding: 0;
}

.uk-card img {
    border-radius: 50%;
    padding: 1vh;
    width: 70%
}

.parcours img {
    width: 30%;
}
 

#choixpeau {
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: white;
}

#choixpeau p {
    color: white;
}

#choixpeau a:hover {
    text-decoration: none;
    color: grey;
}

#choixpeau img {
    width:10vh;
}


footer {
    text-align: center;
    text-transform: uppercase;
    padding: 2px;
    display: inline;

}

footer img {
    width: 2vw;
    margin: 3px;
}